{% extends 'ege/base.html' %}

{% block title %}
    {{ ex_test }}
{% endblock %}

{% block content %}
    <div class="i-w">
    <h2>{{ ex_test }}</h2>
    <form method="post" class="question-form">
        {% csrf_token %}
        {{ crispy_first_form }}
        {% for form, model in zipped_files %}
                <p class="question-heading-paragraph">{{ model.name }}</p>
                <p>{{ model.description }}</p>
                {{ form.label }}
                {{ form }}
        {% endfor %}
        <p class="form-button"><button type="submit" class="btn btn-primary">Завершить тест</button></p>
    </form>
    </div>
{% endblock %}

{{ usr.id }}
